.navegador{
    background-color: rgb(255, 255, 255);
    padding-bottom: 25px;
}

.navegador .navegador-list{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-top: 15px;
    margin: 0;
}
.navegador .navegador-list a{
    font-size: 22px;
    font-weight: light;
    text-decoration: none;
    color: black;
}

.navegador .navegador-list a:hover{
    text-decoration: underline;
}