footer{
    position:relative;
    bottom: 0;
    width: 100%;
}
.redes{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(172,220,207,255);
    padding: 25px;
}

.redes-logos a{
    text-decoration: none;
    padding: 5px;
}

.mapa-footer{
    border: 0;
    width: 300;
    height: 200;
    padding: 15px;
}

.mediodepago{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(172,220,207,255);
}
.mediodepago img{
    padding: 7px;
}